*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(194, 192, 192);
    color: #333;
    line-height: 1.6;
}
nav{
    background-color:black;
    padding: 20px;
    position: sticky;
    top: 0;
    display: flex;  
    justify-content: center;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 15px;
   
}
nav a:hover{
    color: gray ;    
   
}
header{
    color: black;
    text-align: center;
    background-color: gray;
    padding: 40px;
    
}
.profile-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.profile-image:hover{
    border: 5px solid white;
}

header p:hover{
    font-size: larger;
}
header h1:hover{
    font-size: 50px;
}
main{
    max-width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 30px;
    margin-bottom: 0;
}
section{
    background-color: rgb(250, 249, 249);
    margin: 30px 0;
    padding: 30px;
    border-radius: 10px;   
}
section:hover{
    cursor: pointer;
}
section h2{
    font-size: 30px;
    color: black;
    border-bottom:1px solid gray;
    display: inline-block;
}
#about p:hover{
    color: black;
}
#about p{
    margin: 20px;
}
#about details{
    margin: 10px;
    padding: 10px;
    background-color: #f3f3f3;
    border-left: 3px solid gray;
    border-radius: 3px;
    text-decoration: none;
}
#about details:hover{
    color: black;
}
#about div{
    padding: 20px;
}
#skills h3{
    color:black;
    padding: 10px;
}
#skills ul{
    padding-left: 20%;
    color: gray;
}
#skills ul:hover{
    color: black;
}
#projects h3{
    color:black;
    padding: 10px;
}
#projects article{
    border: 1px solid gray;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    background-color:rgb(243, 242, 242) ;
}
#projects ul{
    padding-left: 25px;
}
#contact form{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
#contact label{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
}
#contact input, #contact textarea{
    display: block;
    padding: 5px;
    border-radius: 5px;
    font-size:large;
}
button{
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
    background-color: black;
    color:#f3f3f3;
    border-radius: 5px;
    
}
button:hover{
    font-size: larger;
}
#contact textarea{
    height: 80px;
}
#contact input{
    height: 50px;

}
footer{
    background-color: black;
    color: white;
    padding-bottom: 70px;
}